version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: uptimeflux-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: uptimeflux

  redis:
    image: redis:7
    container_name: uptimeflux-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
